<% if @profile.errors.any? %>
	<div id="error_explanation">	
		<h2>
			<%= pluralize(@profile.errors.count, "error") %> prohibited your profile from being saved:
		</h2>
		<ul>
			<% @profile.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>li>
			<% end %>
		</ul>
	</div>
<% end %>

	<%= f.input :name %><br>

	<%= f.input :surname %><br>

	<%= f.input :age %><br>

	<%= f.input :description %><br>

	<%= f.button :submit %>

	<br>
	<br>
	<br>
	<br>
<% end %>
